doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    title Travel editor

    body
      // map containers
      div#map.map

      // map zoomer
      div#map-zoomer
        button.btn.btn-light.zoom_up(type="button") +
        button.btn.btn-light.zoom_down(type="button") -

      // map context menu
      div#context-menu
        div.card

      // map control panel
      div#control-panel
        div#map-hint.map-hint
          span.map-hint__text Используйте правый клик по карте, чтобы открыть меню с действиями
        div.card
          div.card-body
            h5.card-title Travel editor

      include src/editors/country-editor/template.pug
      include src/editors/country-editor/controls/context.menu.pug
      include src/editors/marker-editor/controls/context.menu.pug
      include src/editors/marker-editor/template.pug
      //move to controll panel aftewords
      div.marker-overlay-container
        span.marker-label-overlay.badge.badge-light
