#marker-editor-control-panel
  form(autocomplete="off")
    .form-group
      img.marker-preview-img(src='./assets/icons/markers/icon1.png')
      img.marker-preview-img(src='./assets/icons/markers/icon2.png')
      img.marker-preview-img(src='./assets/icons/markers/icon3.png')
      img.marker-preview-img(src='./assets/icons/markers/icon4.png')
      img.marker-preview-img(src='./assets/icons/markers/icon5.png')
      img.marker-preview-img(src='./assets/icons/markers/icon6.png')
    .form-group
      .material-input
        input.input-field#marker-input-label(type="text" required="true")
        span.input-border
        label Label
